.all {
  border: 2px solid #000;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

header {
  flex: 0 0 215px;
  display: flex;
  border: 2px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(150,230,150,0.4);

}

#IK{
  margin: 20px;
  padding: 20px 20px 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

a {
  padding: 5px 5px 15px 15px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: black;
}



main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(250,250,250), rgba(150,230,150,0.45));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.block-left, .name-email-tel, .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-right aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-right td div {
  padding: 20px;
  margin: 20px;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 150px auto;
  background-clip: border-box;
  background-position: center center;
}

.VK {
  background-image: url(../Images/vk.png);
}

.Github{

  background-image: url(../Images/github.png);
}

.Telegram {
  background-image: url(../Images/telegram.png);
}

.name-email-tel {
  align-self: end;
  border: black 1px solid;
  border-radius: 25px;
  width: 400px;
  height: 150px;
  background: black;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-email-tel h2, address{
   color: white;
}

.name-email-tel h2 {
  font-size: 20px;
}


.form {
  display: flex;
  border: black 1px solid;
  padding: 100px;
  flex-direction: column;
}

.name-lastname {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

