

body{

}

header {
  display: flex;
  border: 2px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(150,230,150,0.4);
  height: 215px;
}

#IK{
  margin: 20px;
  padding: 20px 20px 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

a {
  padding: 5px 5px 15px 15px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: black;
}


.video-content{
  position: relative;
  margin: 0;
  height: 100%;
  background-color: #f36dff;
  overflow: hidden;
}

#video-main-background{
  position: absolute;
  left: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #ff994f;

}

.name {
  position: absolute;
  color: lightgreen;
  top: 50%;
  left: 50%;
}




footer {
  background-color: #f3faff;
  border: 2px solid #7fc1ff;
}


