

.all {
  border: 2px solid #000;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

header {
  flex: 0 0 215px;
  display: flex;
  border: 2px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(150,230,150,0.4);

}

#IK{
  margin: 20px;
  padding: 20px 20px 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}


td {
  width: 400px;
}

td img {
  width: 100%;
  height: auto;
}
