

.all {
  border: 2px solid #000;
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  height: 100vh;
}

header {
  flex: 0 0 215px;
  display: flex;
  border: 2px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(150,230,150,0.4);

}

#IK{
  margin: 20px;
  padding: 20px 20px 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}



a {
  padding: 5px 5px 15px 15px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: black;
}

table {
  width: 100%;
  background-color: #ff994f;
  margin: 0 auto;
}

td {
  background-color: #f36dff;
  width: 33%;
}

td div {
  margin: 0 auto;
  width: 300px;
}

td img{
  padding: 10px;
  width: 100%;
  height: auto;
}
