
*{

  font-family: monospace;
}

header {
  flex: 0 0 215px;
  display: flex;
  border: 2px solid gainsboro;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: rgba(150,230,150,0.4);
}

#IK{
  margin: 20px;
  padding: 20px 20px 20px 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px;
  padding: 20px;
}

a {
  padding: 5px 5px 15px 15px;
  margin: 5px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Montserrat", "Arial", sans-serif;
  color: black;
}


main{
  display: flex;
  flex-direction: column;
}

.block-top, .block-middle, .block-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-top {
  background: linear-gradient(to bottom, rgb(250,250,250), rgba(150,230,150,0.25));
);
}

.block-middle {
  align-items: center;
  background: linear-gradient(to bottom, rgba(150,230,150,0.25), rgba(150,230,150,0.33));
}

.block-middle table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-bottom {
  background: linear-gradient(to bottom, rgba(150,230,150,0.33), rgba(150,230,150,0.45));
}



.skills, .photo-about-me, .animal, .code-success{
  display: flex;
  flex-direction: column;
  width: 50%;
}


.block-bottom {
  justify-content: center;
}

.animal {
  padding: 20px;
  margin: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.code-success{

}

.photo-about-me {
  height: 100%;
}


.pre-block{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.code-block {
  padding: 10px;
  background-color: white;
  align-self: center;
  border: lightgreen solid;
}

code {
  font-size: 15px;
}

sub, sup {
  color: rgba(7,29,100,0.92);
}




h2{

  font-size: 32px;
  padding: 20px;
  margin: 20px;
  align-self: start;
}

h3 {
  margin-top: 40px;
  padding: 10px;
  font-size: 32px;
  color: black;
  align-self: center;
}

ul, dl, pre {
  align-self: center;
}

ul {
  padding-bottom: 30px;
  margin-bottom: 30px;
}



 .list-skills {
  width: 600px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.list-skills dt{
    padding: 5px;
    margin: 5px;
}

.list-skills b {
  padding: 5px;
  margin: 5px;
  background-color: rgba(7,29,100,0.92);
  border: lightgreen solid;
  color: white;
  font-size: 25px;
}


.study dl {
  display: flex;
  flex-direction: column;
}

.study dt {
  margin: 5px;
  text-align: center;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.study dd {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: lightgreen solid;
  color: black;
  text-align: center;
  padding: 5px;
  font-size: 15px;
}

.study p {
  display: inline-block;
  margin: 5px auto;
  align-self: center;
  background-color: rgba(7,29,100,0.92);
  border: lightgreen solid;
  color: white;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}


.study h4 {
  text-align: center;
}

.study h3 {
  text-align: center;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

strong {
  font-weight: lighter;
  font-family: Verdana, Geneva, sans-serif;
}


.container {
  margin: 10px auto;
  width: 300px;
  text-align: center;
}


.progress {
  margin-left: 20px;
  padding: 6px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-barGreat, .progress-barFine, .progress-barOkay, .progress-barBad {
  height: 12px;
  border-radius: 25px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}


.progress-moved .progress-barGreat {
  width: 85%;
  background-color: lightgreen;
}

.progress-barFine{
  width: 70%;
  background-color: rgba(150,230,150,0.9);
}


.progress-barOkay {
  width: 50%;
  background-color: rgba(150,230,150,0.7);
}


.progress-barBad{
  width: 35%;
  background-color: rgba(150,230,150,0.5);
}

.progress-barGreat{
  animation: progressAnimationGreat 6s;
}

.progress-barFine{
  animation: progressAnimationFine 6s;
}

.progress-barOkay{
  animation: progressAnimationOkay 6s;
}

.progress-barBad{
  animation: progressAnimationBad 6s;
}





.photo-about-me{
}

.my-photo {
  cursor: pointer;
  background-color: white;
  border: black solid;
  padding: 20px;
  margin: 50px 20px 20px;
  align-self: center;

}

#Dino {
  width: 60px;
  animation-name: dinoAnimation;
  animation-duration: 5s;
}

#Dino img {
  width: 100%;
  height: auto;
}


@keyframes dinoAnimation {
  0% {left: 0}
  50% {left: 50px}
  100% {left: 100px}
}

@keyframes progressAnimationGreat {
  0%   { width: 5%; background-color: rgba(150,230,150,0.3);}
  100% { width: 85%; background-color: lightgreen; }
}

@keyframes progressAnimationFine {
  0%   { width: 5%; background-color: rgba(150,230,150,0.3);}
  100% { width: 70%; background-color: rgba(150,230,150,0.9); }
}

@keyframes progressAnimationOkay {
  0%   { width: 5%; background-color: rgba(150,230,150,0.3);}
  100% { width: 50%; background-color: rgba(150,230,150,0.7); }
}
@keyframes progressAnimationBad {
  0%   { width: 5%; background-color: rgba(150,230,150,0.3);}
  100% { width: 35%; background-color: rgba(150,230,150,0.5); }
}




.open-button, .cancel-button {
  background-color: #60e07f;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 60px;
  width: 280px;
}

.form-popup {
  padding: 10px;
  display: none;
  position: fixed;
  border-radius: 5px;
  bottom: 60px;
  right: 10px;
  border: 3px solid #2e1d7c;
  z-index: 9;
  background: linear-gradient(to bottom, rgb(250,250,250), rgba(150,230,150,0.45));
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}


.cancel-button {
  background-color: #2d418a;
}

.form-container,.open-button:hover {
  opacity: 1;
}

